# Combining DataFrames with Pandas

## Objectives
* Combine data from multiple files into a single data frame using merge and concat
* combine two dataframes using a unique ID found in both dataframes
* employ 'to_csv' to export a dataframe in csv format
* join dataframes using common fields (join keys).

In [10]:
import pandas as pd
import os as os

pwd = os.getcwd()
print(pwd)

# os.chdir('/home/meelyn/Documents/cloud_development/sw-python-ecology-lesson')
os.chdir('../')

# import surveys and species data
surveys_df = pd.read_csv('data/surveys.csv',
                         keep_default_na=False, na_values=[""]) # can tell pandas how to deal with na values

species_df = pd.read_csv('data/species.csv',
                         keep_default_na=False, na_values=[""])
print(species_df)

/home/meelyn_pandit/Documents/cloud_development/tutorials/software-carpentry/sw-python-ecology-lesson/src
   species_id             genus          species     taxa
0          AB        Amphispiza        bilineata     Bird
1          AH  Ammospermophilus          harrisi   Rodent
2          AS        Ammodramus       savannarum     Bird
3          BA           Baiomys          taylori   Rodent
4          CB   Campylorhynchus  brunneicapillus     Bird
5          CM       Calamospiza      melanocorys     Bird
6          CQ        Callipepla         squamata     Bird
7          CS          Crotalus       scutalatus  Reptile
8          CT     Cnemidophorus           tigris  Reptile
9          CU     Cnemidophorus        uniparens  Reptile
10         CV          Crotalus          viridis  Reptile
11         DM         Dipodomys         merriami   Rodent
12         DO         Dipodomys            ordii   Rodent
13         DS         Dipodomys      spectabilis   Rodent
14         DX         Dipodomys              sp.   Rodent
15         EO           Eumeces        obsoletus  Reptile
16         GS          Gambelia            silus  Reptile
17         NL           Neotoma         albigula   Rodent
18         NX           Neotoma              sp.   Rodent
19         OL         Onychomys      leucogaster   Rodent
20         OT         Onychomys         torridus   Rodent
21         OX         Onychomys              sp.   Rodent
22         PB       Chaetodipus          baileyi   Rodent
23         PC            Pipilo        chlorurus     Bird
24         PE        Peromyscus         eremicus   Rodent
25         PF       Perognathus           flavus   Rodent
26         PG         Pooecetes        gramineus     Bird
27         PH       Perognathus         hispidus   Rodent
28         PI       Chaetodipus      intermedius   Rodent
29         PL        Peromyscus         leucopus   Rodent
30         PM        Peromyscus      maniculatus   Rodent
31         PP       Chaetodipus     penicillatus   Rodent
32         PU            Pipilo           fuscus     Bird
33         PX       Chaetodipus              sp.   Rodent
34         RF   Reithrodontomys       fulvescens   Rodent
35         RM   Reithrodontomys        megalotis   Rodent
36         RO   Reithrodontomys         montanus   Rodent
37         RX   Reithrodontomys              sp.   Rodent
38         SA        Sylvilagus        audubonii   Rabbit
39         SB          Spizella          breweri     Bird
40         SC        Sceloporus           clarki  Reptile
41         SF          Sigmodon      fulviventer   Rodent
42         SH          Sigmodon         hispidus   Rodent
43         SO          Sigmodon     ochrognathus   Rodent
44         SS      Spermophilus        spilosoma   Rodent
45         ST      Spermophilus     tereticaudus   Rodent
46         SU        Sceloporus        undulatus  Reptile
47         SX          Sigmodon              sp.   Rodent
48         UL            Lizard              sp.  Reptile
49         UP            Pipilo              sp.     Bird
50         UR            Rodent              sp.   Rodent
51         US           Sparrow              sp.     Bird
52         ZL       Zonotrichia       leucophrys     Bird
53         ZM           Zenaida         macroura     Bird

# Concatenating Data Frames

## we can use the concate function in pandas to append either columns or rows from one dataframe to another

In [12]:
# read the first 10 lines of surveys tables
survey_sub = surveys_df.head(10)
print('survey sub\n', survey_sub)

# Grab the last 10 rows
survey_sub_last10 = surveys_df.tail(10)
print('survey sub last 10\n', survey_sub_last10)

# reset the index values to the second dataframe appends poorly
survey_sub_last10 = survey_sub_last10.reset_index(drop=True)
# drop=True option avoids adding new index column with old index values i.e. the row numbers
print('survey sub last 10 with new index\n', survey_sub_last10)

survey sub
    record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
2          3      7   16  1977        2         DM   F             37.0
3          4      7   16  1977        7         DM   M             36.0
4          5      7   16  1977        3         DM   M             35.0
5          6      7   16  1977        1         PF   M             14.0
6          7      7   16  1977        2         PE   F              NaN
7          8      7   16  1977        1         DM   M             37.0
8          9      7   16  1977        1         DM   F             34.0
9         10      7   16  1977        6         PF   F             20.0

   weight
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
survey sub last 10
        record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
35539      35540     12   31  2002       15         PB    F             26.0
35540      35541     12   31  2002       15         PB    F             24.0
35541      35542     12   31  2002       15         PB    F             26.0
35542      35543     12   31  2002       15         PB    F             27.0
35543      35544     12   31  2002       15         US  NaN              NaN
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35546      35547     12   31  2002       10         RM    F             15.0
35547      35548     12   31  2002        7         DO    M             36.0
35548      35549     12   31  2002        5        NaN  NaN              NaN

       weight
35539    23.0
35540    31.0
35541    29.0
35542    34.0
35543     NaN
35544     NaN
35545     NaN
35546    14.0
35547    51.0
35548     NaN
survey sub last 10 with new index
    record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0      35540     12   31  2002       15         PB    F             26.0
1      35541     12   31  2002       15         PB    F             24.0
2      35542     12   31  2002       15         PB    F             26.0
3      35543     12   31  2002       15         PB    F             27.0
4      35544     12   31  2002       15         US  NaN              NaN
5      35545     12   31  2002       15         AH  NaN              NaN
6      35546     12   31  2002       15         AH  NaN              NaN
7      35547     12   31  2002       10         RM    F             15.0
8      35548     12   31  2002        7         DO    M             36.0
9      35549     12   31  2002        5        NaN  NaN              NaN

   weight
0    23.0
1    31.0
2    29.0
3    34.0
4     NaN
5     NaN
6     NaN
7    14.0
8    51.0
9     NaN

In [13]:
# when we concatenate data frames we need to specify the axis
## axis = 0 tells pandas to stack the second dataframe under the first one
### need to make sure both dataframes have the same columns and associated column format in both datasets

## axis = 1 will stack the columns in the second dataframe to the right of the first dataframe
### stack horizontally we want to make sure what we are doing makes sense

# Stack dataframes on top of each other
vertical_stack = pd.concat([survey_sub, survey_sub_last10], axis=0)
print('vertical stack\n', vertical_stack)

# Place dataframes side by side
horizontal_stack = pd.concat([survey_sub, survey_sub_last10])
print('\nhorizontal stack\n', pd.concat([survey_sub, survey_sub_last10], axis=1))

vertical stack
    record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0          1      7   16  1977        2         NL    M             32.0
1          2      7   16  1977        3         NL    M             33.0
2          3      7   16  1977        2         DM    F             37.0
3          4      7   16  1977        7         DM    M             36.0
4          5      7   16  1977        3         DM    M             35.0
5          6      7   16  1977        1         PF    M             14.0
6          7      7   16  1977        2         PE    F              NaN
7          8      7   16  1977        1         DM    M             37.0
8          9      7   16  1977        1         DM    F             34.0
9         10      7   16  1977        6         PF    F             20.0
0      35540     12   31  2002       15         PB    F             26.0
1      35541     12   31  2002       15         PB    F             24.0
2      35542     12   31  2002       15         PB    F             26.0
3      35543     12   31  2002       15         PB    F             27.0
4      35544     12   31  2002       15         US  NaN              NaN
5      35545     12   31  2002       15         AH  NaN              NaN
6      35546     12   31  2002       15         AH  NaN              NaN
7      35547     12   31  2002       10         RM    F             15.0
8      35548     12   31  2002        7         DO    M             36.0
9      35549     12   31  2002        5        NaN  NaN              NaN

   weight
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
0    23.0
1    31.0
2    29.0
3    34.0
4     NaN
5     NaN
6     NaN
7    14.0
8    51.0
9     NaN

horizontal stack
    record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
2          3      7   16  1977        2         DM   F             37.0
3          4      7   16  1977        7         DM   M             36.0
4          5      7   16  1977        3         DM   M             35.0
5          6      7   16  1977        1         PF   M             14.0
6          7      7   16  1977        2         PE   F              NaN
7          8      7   16  1977        1         DM   M             37.0
8          9      7   16  1977        1         DM   F             34.0
9         10      7   16  1977        6         PF   F             20.0

   weight  record_id  month  day  year  plot_id species_id  sex  \
0     NaN      35540     12   31  2002       15         PB    F
1     NaN      35541     12   31  2002       15         PB    F
2     NaN      35542     12   31  2002       15         PB    F
3     NaN      35543     12   31  2002       15         PB    F
4     NaN      35544     12   31  2002       15         US  NaN
5     NaN      35545     12   31  2002       15         AH  NaN
6     NaN      35546     12   31  2002       15         AH  NaN
7     NaN      35547     12   31  2002       10         RM    F
8     NaN      35548     12   31  2002        7         DO    M
9     NaN      35549     12   31  2002        5        NaN  NaN

   hindfoot_length  weight
0             26.0    23.0
1             24.0    31.0
2             26.0    29.0
3             27.0    34.0
4              NaN     NaN
5              NaN     NaN
6              NaN     NaN
7             15.0    14.0
8             36.0    51.0
9              NaN     NaN

In [16]:
# in the vertial stack dataframe the row indexes for the two dataframes are repeated. we can reindex the new dataframe using the reset_index() method
vertical_stack_reindex = vertical_stack.reset_index()
print(vertical_stack_reindex)

    index  record_id  month  day  year  plot_id species_id  sex  \
0       0          1      7   16  1977        2         NL    M
1       1          2      7   16  1977        3         NL    M
2       2          3      7   16  1977        2         DM    F
3       3          4      7   16  1977        7         DM    M
4       4          5      7   16  1977        3         DM    M
5       5          6      7   16  1977        1         PF    M
6       6          7      7   16  1977        2         PE    F
7       7          8      7   16  1977        1         DM    M
8       8          9      7   16  1977        1         DM    F
9       9         10      7   16  1977        6         PF    F
10      0      35540     12   31  2002       15         PB    F
11      1      35541     12   31  2002       15         PB    F
12      2      35542     12   31  2002       15         PB    F
13      3      35543     12   31  2002       15         PB    F
14      4      35544     12   31  2002       15         US  NaN
15      5      35545     12   31  2002       15         AH  NaN
16      6      35546     12   31  2002       15         AH  NaN
17      7      35547     12   31  2002       10         RM    F
18      8      35548     12   31  2002        7         DO    M
19      9      35549     12   31  2002        5        NaN  NaN

    hindfoot_length  weight
0              32.0     NaN
1              33.0     NaN
2              37.0     NaN
3              36.0     NaN
4              35.0     NaN
5              14.0     NaN
6               NaN     NaN
7              37.0     NaN
8              34.0     NaN
9              20.0     NaN
10             26.0    23.0
11             24.0    31.0
12             26.0    29.0
13             27.0    34.0
14              NaN     NaN
15              NaN     NaN
16              NaN     NaN
17             15.0    14.0
18             36.0    51.0
19              NaN     NaN

### Writing out data to csv
* We can use the 'to_csv" command to export a dataframe in csv format.

In [18]:
vertical_stack.to_csv('data/out.csv', index=False)

In [21]:
# import the out.csv file back into python to make sure everything is ok
new_output = pd.read_csv('data/out.csv', keep_default_na=False, na_values=[""])
# keep_default_na=False and na_values used to deal with NaN values
print(new_output)
# importing from csv re indexes rows?

    record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0           1      7   16  1977        2         NL    M             32.0
1           2      7   16  1977        3         NL    M             33.0
2           3      7   16  1977        2         DM    F             37.0
3           4      7   16  1977        7         DM    M             36.0
4           5      7   16  1977        3         DM    M             35.0
5           6      7   16  1977        1         PF    M             14.0
6           7      7   16  1977        2         PE    F              NaN
7           8      7   16  1977        1         DM    M             37.0
8           9      7   16  1977        1         DM    F             34.0
9          10      7   16  1977        6         PF    F             20.0
10      35540     12   31  2002       15         PB    F             26.0
11      35541     12   31  2002       15         PB    F             24.0
12      35542     12   31  2002       15         PB    F             26.0
13      35543     12   31  2002       15         PB    F             27.0
14      35544     12   31  2002       15         US  NaN              NaN
15      35545     12   31  2002       15         AH  NaN              NaN
16      35546     12   31  2002       15         AH  NaN              NaN
17      35547     12   31  2002       10         RM    F             15.0
18      35548     12   31  2002        7         DO    M             36.0
19      35549     12   31  2002        5        NaN  NaN              NaN

    weight
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10    23.0
11    31.0
12    29.0
13    34.0
14     NaN
15     NaN
16     NaN
17    14.0
18    51.0
19     NaN

In [26]:
# Challenge Combine Data
surveys2001 = pd.read_csv('data/surveys2001.csv', keep_default_na=False, na_values=[""])
surveys2002 = pd.read_csv('data/surveys2002.csv', keep_default_na=False, na_values=[""])

print('surveys2001\n', surveys2001)
print('surveys2002\n', surveys2002)

surveys2001_2002 = pd.concat([surveys2001, surveys2002], axis=0).reset_index()
print('surveys concatenated\n', surveys2001_2002)
surveys2001_2002.to_csv('data/surveys2001_2002', index=True)

surveys2001_2002_reuploaded = pd.read_csv('data/surveys2001_2002', keep_default_na=False, na_values=[""])

print('reuploaded surveyts\n', surveys2001_2002_reuploaded)

surveys2001
       Unnamed: 0  record_id  month  day  year  site_id species_id sex  \
0          31710      31711      1   21  2001        1         PB   F
1          31711      31712      1   21  2001        1         DM   M
2          31712      31713      1   21  2001        1         PB   M
3          31713      31714      1   21  2001        1         DO   M
4          31714      31715      1   21  2001        2         OT   M
...          ...        ...    ...  ...   ...      ...        ...  ..
1429       33303      33304     12   15  2001       24         RM   M
1430       33304      33305     12   15  2001        7         PB   M
1431       33305      33306     12   15  2001        7         OT   M
1432       33306      33307     12   15  2001        7         OT   M
1433       33307      33308     12   15  2001        7         PP   M

      hindfoot_length  weight
0                26.0    25.0
1                37.0    43.0
2                29.0    44.0
3                34.0    53.0
4                20.0    27.0
...               ...     ...
1429             16.0    10.0
1430             29.0    44.0
1431             19.0    21.0
1432             20.0    19.0
1433             24.0    16.0

[1434 rows x 10 columns]
surveys2002
       Unnamed: 0  record_id  month  day  year  site_id species_id sex  \
0          33320      33321      1   12  2002        1         DM   M
1          33321      33322      1   12  2002        1         DO   M
2          33322      33323      1   12  2002        1         PB   M
3          33324      33325      1   12  2002        1         DO   M
4          33325      33326      1   12  2002        2         OT   F
...          ...        ...    ...  ...   ...      ...        ...  ..
2073       35540      35541     12   31  2002       15         PB   F
2074       35541      35542     12   31  2002       15         PB   F
2075       35542      35543     12   31  2002       15         PB   F
2076       35546      35547     12   31  2002       10         RM   F
2077       35547      35548     12   31  2002        7         DO   M

      hindfoot_length  weight
0                38.0    44.0
1                37.0    58.0
2                28.0    45.0
3                35.0    29.0
4                20.0    26.0
...               ...     ...
2073             24.0    31.0
2074             26.0    29.0
2075             27.0    34.0
2076             15.0    14.0
2077             36.0    51.0

[2078 rows x 10 columns]
surveys concatenated
       index  Unnamed: 0  record_id  month  day  year  site_id species_id sex  \
0         0       31710      31711      1   21  2001        1         PB   F
1         1       31711      31712      1   21  2001        1         DM   M
2         2       31712      31713      1   21  2001        1         PB   M
3         3       31713      31714      1   21  2001        1         DO   M
4         4       31714      31715      1   21  2001        2         OT   M
...     ...         ...        ...    ...  ...   ...      ...        ...  ..
3507   2073       35540      35541     12   31  2002       15         PB   F
3508   2074       35541      35542     12   31  2002       15         PB   F
3509   2075       35542      35543     12   31  2002       15         PB   F
3510   2076       35546      35547     12   31  2002       10         RM   F
3511   2077       35547      35548     12   31  2002        7         DO   M

      hindfoot_length  weight
0                26.0    25.0
1                37.0    43.0
2                29.0    44.0
3                34.0    53.0
4                20.0    27.0
...               ...     ...
3507             24.0    31.0
3508             26.0    29.0
3509             27.0    34.0
3510             15.0    14.0
3511             36.0    51.0

[3512 rows x 11 columns]
reuploaded surveyts
       Unnamed: 0.1  index  Unnamed: 0  record_id  month  day  year  site_id  \
0                0      0       31710      31711      1   21  2001        1
1                1      1       31711      31712      1   21  2001        1
2                2      2       31712      31713      1   21  2001        1
3                3      3       31713      31714      1   21  2001        1
4                4      4       31714      31715      1   21  2001        2
...            ...    ...         ...        ...    ...  ...   ...      ...
3507          3507   2073       35540      35541     12   31  2002       15
3508          3508   2074       35541      35542     12   31  2002       15
3509          3509   2075       35542      35543     12   31  2002       15
3510          3510   2076       35546      35547     12   31  2002       10
3511          3511   2077       35547      35548     12   31  2002        7

     species_id sex  hindfoot_length  weight
0            PB   F             26.0    25.0
1            DM   M             37.0    43.0
2            PB   M             29.0    44.0
3            DO   M             34.0    53.0
4            OT   M             20.0    27.0
...         ...  ..              ...     ...
3507         PB   F             24.0    31.0
3508         PB   F             26.0    29.0
3509         PB   F             27.0    34.0
3510         RM   F             15.0    14.0
3511         DO   M             36.0    51.0

[3512 rows x 12 columns]

### Joining Dataframes

Another way to combine dataframes is to use columns in each dataset that contain common values ( common unique identifier). This is called "joining". The columns containing the common values are called "join key(s)".

In [29]:
# grab the first 10 lines of our data as a subset to work with. use the .head() method
# read in first 10 lines of surveys table
survey_sub = surveys_df.head(10)
print('\n survey sub\n', survey_sub)

# import a small subset of the species data designed for this part of the lesson
species_sub = pd.read_csv('data/speciesSubset.csv', keep_default_na=False, na_values=[""])
print('species sub\n', species_sub)

 survey sub
    record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
2          3      7   16  1977        2         DM   F             37.0
3          4      7   16  1977        7         DM   M             36.0
4          5      7   16  1977        3         DM   M             35.0
5          6      7   16  1977        1         PF   M             14.0
6          7      7   16  1977        2         PE   F              NaN
7          8      7   16  1977        1         DM   M             37.0
8          9      7   16  1977        1         DM   F             34.0
9         10      7   16  1977        6         PF   F             20.0

   weight
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
species sub
   species_id       genus   species    taxa
0         DM   Dipodomys  merriami  Rodent
1         NL     Neotoma  albigula  Rodent
2         PE  Peromyscus  eremicus  Rodent

In [31]:
# identifying join keys, i.e. keys that are shared by both dataframes
print(species_sub.columns) # prints species sub dataframe columns
print(survey_sub.columns) # prints survey sub dataframe columns
# matching column name is species_id

Index(['species_id', 'genus', 'species', 'taxa'], dtype='object')
Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [32]:
# inner joins combines two dataframes based on a join key and returns a new dataframe that contains only those rows that have matching values in both of the original dataframes
# inner joins using pandas .merge method, inner join is default option
merged_inner = pd.merge(left=survey_sub, right=species_sub, left_on='species_id', right_on='species_id') # on is the join key
print('merged inner\n', merged_inner)

merged inner
    record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
2          3      7   16  1977        2         DM   F             37.0
3          4      7   16  1977        7         DM   M             36.0
4          5      7   16  1977        3         DM   M             35.0
5          8      7   16  1977        1         DM   M             37.0
6          9      7   16  1977        1         DM   F             34.0
7          7      7   16  1977        2         PE   F              NaN

   weight       genus   species    taxa
0     NaN     Neotoma  albigula  Rodent
1     NaN     Neotoma  albigula  Rodent
2     NaN   Dipodomys  merriami  Rodent
3     NaN   Dipodomys  merriami  Rodent
4     NaN   Dipodomys  merriami  Rodent
5     NaN   Dipodomys  merriami  Rodent
6     NaN   Dipodomys  merriami  Rodent
7     NaN  Peromyscus  eremicus  Rodent