# Combining DataFrames with Pandas

## Objectives
* Combine data from multiple files into a single data frame using merge and concat
* combine two dataframes using a unique ID found in both dataframes
* employ 'to_csv' to export a dataframe in csv format
* join dataframes using common fields (join keys).

In [12]:
import pandas as pd
import os as os

os.chdir('/home/meelyn/Documents/cloud_development/sw-python-ecology-lesson')

# import surveys and species data
surveys_df = pd.read_csv('data/surveys.csv',
                         keep_default_na=False, na_values=[""]) # can tell pandas how to deal with na values

species_df = pd.read_csv('data/species.csv',
                         keep_default_na=False, na_values=[""])
print(species_df)

   species_id             genus          species     taxa
0          AB        Amphispiza        bilineata     Bird
1          AH  Ammospermophilus          harrisi   Rodent
2          AS        Ammodramus       savannarum     Bird
3          BA           Baiomys          taylori   Rodent
4          CB   Campylorhynchus  brunneicapillus     Bird
5          CM       Calamospiza      melanocorys     Bird
6          CQ        Callipepla         squamata     Bird
7          CS          Crotalus       scutalatus  Reptile
8          CT     Cnemidophorus           tigris  Reptile
9          CU     Cnemidophorus        uniparens  Reptile
10         CV          Crotalus          viridis  Reptile
11         DM         Dipodomys         merriami   Rodent
12         DO         Dipodomys            ordii   Rodent
13         DS         Dipodomys      spectabilis   Rodent
14         DX         Dipodomys              sp.   Rodent
15         EO           Eumeces        obsoletus  Reptile
16         GS          Gambelia            silus  Reptile
17         NL           Neotoma         albigula   Rodent
18         NX           Neotoma              sp.   Rodent
19         OL         Onychomys      leucogaster   Rodent
20         OT         Onychomys         torridus   Rodent
21         OX         Onychomys              sp.   Rodent
22         PB       Chaetodipus          baileyi   Rodent
23         PC            Pipilo        chlorurus     Bird
24         PE        Peromyscus         eremicus   Rodent
25         PF       Perognathus           flavus   Rodent
26         PG         Pooecetes        gramineus     Bird
27         PH       Perognathus         hispidus   Rodent
28         PI       Chaetodipus      intermedius   Rodent
29         PL        Peromyscus         leucopus   Rodent
30         PM        Peromyscus      maniculatus   Rodent
31         PP       Chaetodipus     penicillatus   Rodent
32         PU            Pipilo           fuscus     Bird
33         PX       Chaetodipus              sp.   Rodent
34         RF   Reithrodontomys       fulvescens   Rodent
35         RM   Reithrodontomys        megalotis   Rodent
36         RO   Reithrodontomys         montanus   Rodent
37         RX   Reithrodontomys              sp.   Rodent
38         SA        Sylvilagus        audubonii   Rabbit
39         SB          Spizella          breweri     Bird
40         SC        Sceloporus           clarki  Reptile
41         SF          Sigmodon      fulviventer   Rodent
42         SH          Sigmodon         hispidus   Rodent
43         SO          Sigmodon     ochrognathus   Rodent
44         SS      Spermophilus        spilosoma   Rodent
45         ST      Spermophilus     tereticaudus   Rodent
46         SU        Sceloporus        undulatus  Reptile
47         SX          Sigmodon              sp.   Rodent
48         UL            Lizard              sp.  Reptile
49         UP            Pipilo              sp.     Bird
50         UR            Rodent              sp.   Rodent
51         US           Sparrow              sp.     Bird
52         ZL       Zonotrichia       leucophrys     Bird
53         ZM           Zenaida         macroura     Bird

# Concatenating Data Frames

## we can use the concate function in pandas to append either columns or rows from one dataframe to another

In [18]:
# read the first 10 lines of surveys tables
survey_sub = surveys_df.head(10)
print('survey sub\n', survey_sub)

# Grab the last 10 rows
survey_sub_last10 = surveys_df.tail(10)
print('survey sub last 10\n', survey_sub_last10)

# reset the index values to the second dataframe appends poorly
survey_sub_last10 = survey_sub_last10.reset_index(drop=True)
# drop=True option avoids adding new index column with old index values i.e. the row numbers
print('survey sub last 10 with new index\n', survey_sub_last10)

survey sub
    record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
2          3      7   16  1977        2         DM   F             37.0
3          4      7   16  1977        7         DM   M             36.0
4          5      7   16  1977        3         DM   M             35.0
5          6      7   16  1977        1         PF   M             14.0
6          7      7   16  1977        2         PE   F              NaN
7          8      7   16  1977        1         DM   M             37.0
8          9      7   16  1977        1         DM   F             34.0
9         10      7   16  1977        6         PF   F             20.0

   weight
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
survey sub last 10
        record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
35539      35540     12   31  2002       15         PB    F             26.0
35540      35541     12   31  2002       15         PB    F             24.0
35541      35542     12   31  2002       15         PB    F             26.0
35542      35543     12   31  2002       15         PB    F             27.0
35543      35544     12   31  2002       15         US  NaN              NaN
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35546      35547     12   31  2002       10         RM    F             15.0
35547      35548     12   31  2002        7         DO    M             36.0
35548      35549     12   31  2002        5        NaN  NaN              NaN

       weight
35539    23.0
35540    31.0
35541    29.0
35542    34.0
35543     NaN
35544     NaN
35545     NaN
35546    14.0
35547    51.0
35548     NaN
survey sub last 10 with new index
    record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0      35540     12   31  2002       15         PB    F             26.0
1      35541     12   31  2002       15         PB    F             24.0
2      35542     12   31  2002       15         PB    F             26.0
3      35543     12   31  2002       15         PB    F             27.0
4      35544     12   31  2002       15         US  NaN              NaN
5      35545     12   31  2002       15         AH  NaN              NaN
6      35546     12   31  2002       15         AH  NaN              NaN
7      35547     12   31  2002       10         RM    F             15.0
8      35548     12   31  2002        7         DO    M             36.0
9      35549     12   31  2002        5        NaN  NaN              NaN

   weight
0    23.0
1    31.0
2    29.0
3    34.0
4     NaN
5     NaN
6     NaN
7    14.0
8    51.0
9     NaN

In [19]:
# when we concatenate data frames we need to specify the axis
## axis = 0 tells pandas to stack the second dataframe under the first one
### need to make sure both dataframes have the same columns and associated column format in both datasets

## axis = 1 will stack the columns in the second dataframe to the right of the first dataframe
### stack horizontally we want to make sure what we are doing makes sense

# Stack dataframes on top of each other
vertical_stack = pd.concat([survey_sub, survey_sub_last10], axis=0)
print('vertical stack\n', vertical_stack)

# Place dataframes side by side
horizontal_stack = pd.concat([survey_sub, survey_sub_last10])

vertical stack
    record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0          1      7   16  1977        2         NL    M             32.0
1          2      7   16  1977        3         NL    M             33.0
2          3      7   16  1977        2         DM    F             37.0
3          4      7   16  1977        7         DM    M             36.0
4          5      7   16  1977        3         DM    M             35.0
5          6      7   16  1977        1         PF    M             14.0
6          7      7   16  1977        2         PE    F              NaN
7          8      7   16  1977        1         DM    M             37.0
8          9      7   16  1977        1         DM    F             34.0
9         10      7   16  1977        6         PF    F             20.0
0      35540     12   31  2002       15         PB    F             26.0
1      35541     12   31  2002       15         PB    F             24.0
2      35542     12   31  2002       15         PB    F             26.0
3      35543     12   31  2002       15         PB    F             27.0
4      35544     12   31  2002       15         US  NaN              NaN
5      35545     12   31  2002       15         AH  NaN              NaN
6      35546     12   31  2002       15         AH  NaN              NaN
7      35547     12   31  2002       10         RM    F             15.0
8      35548     12   31  2002        7         DO    M             36.0
9      35549     12   31  2002        5        NaN  NaN              NaN

   weight
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
0    23.0
1    31.0
2    29.0
3    34.0
4     NaN
5     NaN
6     NaN
7    14.0
8    51.0
9     NaN